<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Please Log in</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div id="mainWrap">
            <h1>Welcome!</h1>
            <h2>To take survey please log in</h2>
            <hr>
            <div id="linkButton">
                <a id="loginLink" class="button" href="/login">Login</a>
            </div>
        </div>
    </body>
</html>