

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}


#pageheader {
    height: 10%;
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

.dropdown {
    width: 180px;
    margin-top: 35px;
    margin-bottom: 0px;
}


.dropLabel {
    text-align: right;
    margin-left: 10%;
    margin-bottom: 0px;
}

#navDiv {
    background-color: cadetblue;
    width: 15%;
    text-align: center;
    height: 90%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.navul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    width: 100%;
}

.navlist {
    font-size: 25px;
    padding: 20px;
}

.navlist:hover{
    background-color: darkcyan;
}

.page {
    display: inline-block;
    margin-top: 20px;
    padding: 0px;
    height: 90%;
    text-align: center;
    width: 85%;
    float: right;
}

.list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.subheader {
    text-align: center;
    width: 100%
}
.subheader2 {
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}